<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> IPSS-R Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
    <h1><center>IPSS-R Calculator</center></h1>
    <h3><center>for Myelodysplastic Syndromes</center></h3>
    <form method="post">
        <table style="width:100%">
            <tr>
                <th><div align="right">Cytogenetic Group:</div></th>
                <td><select name="Cytogenetic Group">
                    <option value="Very Good">Very Good</option>
                    <option value="Good">Good</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Poor">Poor</option>
                    <option value="Very Poor">Very Poor</option>
                </select></td>
            </tr>
            <tr>
                <th><div align="right">BM Blasts (%):</div></th>
                <td><input type="number" name="hg" placeholder="0 to 30" min="0" max="100" step="1"><br></td>
            </tr>
            <tr>
                <th><div align="right">Platelets (x10<sup>9</sup>/L):</div></th>
                <td><input type="number" name="platelets" placeholder="0 to 2000" min="0" max="2000" step="10"><br></td>
            </tr>
            <tr>
                <th><div align="right">ANC (x10<sup>9</sup>/L):</div></th>
                <td><input type="number" name="anc" placeholder="0 to 15" min="0.00" max="15.00" step="0.01"><br></td>
            </tr>
            <tr>
                <th><div align="right">Hemoglobin (g/dL):</div></th>
                <td><input type="number" name="heme" placeholder="4 to 20" min="4" max="20" step="1"><br></td>
            </tr>

        </table><br>
        <center><input style="font-size:16px" type="submit" value="Enter" width="70"></center><br><br>
    </form>
    <!-- { % this is code % }
    #Pecentage sign-->
    <center>
        <p style="font-size:22px">
            {% if text %}
                {{ text}}
            {% endif %}
        </p>
    </center>
</body>
</html>
